
  <div class="container">
    <div class="form">
      <div id="resolucao" class="resolucao">
        Resolução
      </div>
    </div>
  </div>

<style>
  /* reset */
  * {
padding:0;
margin:0;
vertical-align:baseline;
list-style:none;
border:0
}

.container {
  display: flex;
  justify-content:center ;
  align-items: center;
  background-color: red;
  height: 100%;
  width: 100%;
  font-size: 30pt;
  font-weight: bolder;
}

.form {

  background-color: gray;

}

.resolucao {
  background-color: blue;
}
</style>





<script>
  window.addEventListener("resize", () => {
  const viewportWidth = window.innerWidth;
  const viewportHeight = window.innerHeight;
  console.log(`Resolução da janela de visualização: ${viewportWidth}x${viewportHeight}`);
  document.getElementById("resolucao").innerHTML = viewportWidth +' x '+viewportHeight;
});
</script>