@media (min-width: 992px){
    .menu_lupa{
        margin-bottom: 0.4rem;
        max-height: 1.7rem;
        }

    .form_search {
        margin-top: 1rem;
    }
    .dropdown-menu{
        background-color: transparent !important;
        max-width: 10px;
    }
    
    .row_atrasadas{
        display: flex;
        align-items: center;
        border-bottom: 1px dashed #CCC;
        margin-bottom: 1rem;
        color:#FF4500;
        font-size: 18pt;
    }
    .row_dodia {
        display: flex;
        align-items: center;
        border-bottom: 1px dashed #CCC;
        margin-bottom: 1rem;
        color:blue;
        font-size: 25pt;
    }
}
