@media (max-width: 991px) {
    .main_menu, .btn_sanduiche, .link_sair{
        font-size: 3.5rem;
    }
    .my_item:hover {
        background-color: blue;
        color: yellow;
    }
    .contem_list_menu, .form_search {
        margin-left: 4%;
    }
    .btn_sanduiche {
        margin-left: 0.5rem;
    }
    .btn_logo_todo {
        font-size: 4rem;
        margin-left: 4%;
        margin-bottom: 2%;
    }
    .lupa {
        font-size: 4rem;
    }
    .menu_lupa{
        height: auto;
        margin-bottom: 2%;
    }
    .select_user {
        width: 50%;
        height: 5rem;
        font-size: 250%;
    }
    .contem_botoes {
        text-align: left;
        margin-left: 5%
    }
    .option_user {
        font-size: 60%;
    }
    .btn_filtrar1 {
        margin-bottom: 1.48rem;
        <!-- height: 1rem; -->
    }
    .btn_filtrar2 {
        font-size: 4rem;
    }
    .botao_flutuante {
        font-size: 2rem;
    }
    .main-table {
        font-size: 4rem;
    }
    .row_atrasadas,.row_dodia, .row_futuras, .row_finalizadas, .row_justificadas  {
        display: flex;
        align-items: center;
        border-bottom: 3px inset #CCC;
        margin-bottom: 1rem;
        color:#FF4500;
        font-size: 35pt;
        <!-- text-decoration: none; -->
    }
    .row_dodia {
        color:yellow;
    }
    .row_futuras {
        color:blue;
    }   
    .row_finalizadas {
        color:gray;
    }
    .row_justificadas {
        color:purple;
    }
    .paragrafo_titulo {
        min-height: 120px;
        display: flex;
        align-items: center;
    }
    .paragrafo_inicio, .paragrafo_etapas {
        font-size: 18pt;
    }
    .paragrafo_user {
        display: none;
    }  
}