{% extends 'base.html'%}
{% load static %}
{% block title %} Lista de Tarefas {% endblock%}    
{% block content%}

<center>
        <ul class="task-list">
            <table>
                {% for tasks in Tasks_atrasadas %}
                        <tr style="font-size: 20px; height: 50px;  border-bottom: 3px dashed #CCC;">
                            <td style="width: 360px">
                                <a style="padding-right: 30%; color:red;" href="{% url 'taskview' tasks.id %}">{{tasks.titulo}}</a>
                            </td>
                            <td style="width: 420px;">
                                <a style="margin-right: 17%; color:red;" href="{% url 'taskview' tasks.id %}">{{tasks.need_init_at}}</a>
                            </td>
                            <td style="width: 30%;">
                                <a style="color:red;" href="{% url 'taskview' tasks.id %}">{{tasks.etapas}}</a>
                            </td>
                            {% if user.is_superuser %}
                                <td style="width: 10%;">
                                    <a style="color:red;" href="{% url 'taskview' tasks.id %}">{{tasks.nome_pessoa|capfirst}}</a>
                                </td>
                            {% endif %}
                        </tr>
                {% endfor %}
            
            {% for tasks in TasksDoDia %}
                <tr style="font-size: 20px; height: 50px; padding-top: 10px; border-bottom: 3px dashed #CCC;">
                    <td style="width: 360px">
                        <a style="padding-right: 30%; color:green;"href="{% url 'taskview' tasks.id %}">{{tasks.titulo}}</a>
                    </td>
                    <td style="width: 420px;">
                        <a style="margin-right: 17%; color:green;"href="{% url 'taskview' tasks.id %}">{{tasks.need_init_at}}</a>
                    </td>
                    <td style="width: 30%;">
                        <a style="color:green;"href="{% url 'taskview' tasks.id %}">{{tasks.etapas}}</a>
                    </td>
                    {% if user.is_superuser %}
                        <td style="width: 10%;">
                            <a style="color:green;" href="{% url 'taskview' tasks.id %}">{{tasks.nome_pessoa|capfirst}}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
                
            {% for tasks in Tasks_futuras %}
                <tr style="font-size: 20px; height: 50px; padding-top: 10px; border-bottom: 3px dashed #CCC;" >
                    <td style="width: 360px">
                        <a style=color:blue; href="{% url 'taskview' tasks.id %}">{{tasks.titulo}}</a>
                    </td>
                    <td style="width: 420px;">
                        <a style=color:blue; href="{% url 'taskview' tasks.id %}">{{tasks.need_init_at}}</a>
                    </td>
                    <td style="width: 30%;">
                        <a style="color:blue; "href="{% url 'taskview' tasks.id %}">{{tasks.etapas}}</a>
                    </td>
                    {% if user.is_superuser %}
                        <td style="width: 10%;">
                            <a style="color:blue;" href="{% url 'taskview' tasks.id %}">{{tasks.nome_pessoa|capfirst}}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            {% for tasks in Tasks_finalizadas %}
                <tr style="font-size: 20px; height: 50px;  border-bottom: 3px dashed #CCC;">
                    <td style="width: 360px">
                        <a style="padding-right: 30%; color:gray;"href="{% url 'taskview' tasks.id %}">{{tasks.titulo}}</a>
                    </td>
                    <td style="width: 420px;">
                        <a style="margin-right: 17%; color:gray;"href="{% url 'taskview' tasks.id %}">{{tasks.need_init_at}}</a>
                    </td>
                    <td style="width: 30%;">
                        <a style="color:gray;"href="{% url 'taskview' tasks.id %}">{{tasks.etapas}}</a>
                    </td>
                    {% if user.is_superuser %}
                        <td style="width: 10%;">
                            <a style="color:grey;" href="{% url 'taskview' tasks.id %}">{{tasks.nome_pessoa|capfirst}}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            {% for tasks in Tasks_justificadas %}
                <tr style="font-size: 20px; height: 50px;  border-bottom: 3px dashed #CCC;">
                    <td style="width: 360px">
                        <a style="padding-right: 30%; color:violet;" href="{% url 'taskview' tasks.id %}">{{tasks.titulo}}</a>
                    </td>
                    <td style="width: 420px;">
                        <a style="margin-right: 17%; color:violet;" href="{% url 'taskview' tasks.id %}">{{tasks.need_init_at}}</a>
                    </td>
                    <td style="width: 30%;">
                        <a style="color:violet;" href="{% url 'taskview' tasks.id %}">{{tasks.etapas}}</a>
                    </td>
                    {% if user.is_superuser %}
                        <td style="width: 10%;">
                            <a style="color:violet;" href="{% url 'taskview' tasks.id %}">{{tasks.nome_pessoa|capfirst}}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
          
        </table>
        </ul>
       
    </div>
</div>
{% endblock %}