{% extends 'base.html'%}
{% load static %}
{% block title %} Lista de Tarefas {% endblock%}    
{% block content%}
<body>
    <!-- MELHOR DEFINIR O BODY EM CADA HTML, DEIXANDO DE FORA DO BASE.HTML, ASSIM É POSSIVEL DEFINIR PROPRIEDADES ESPECIFICAS DE CADA PÁGINA, POR EXEMPLO: overflow: hidden. -->

    <a href="{% url 'newtask' %}" class="botao flutuante botao_flutuante"><i class="bi bi-calendar-plus"></i>Nova Tarefa</a> 
        <!-- icone bi bi-calendar-plus copiado da pagina https://icons.getbootstrap.com/icons/calendar-plus/ -->
            <ul class="task-list">
                <table class="main-table">
                    <div class="semtarefas">
                        {% if semtarefas %}
                            {{semtarefas}}
                        {% endif %}
                    </div>
                    {% for tasks in Tasks_atrasadas %}
                            <tr class="linha_atrasadas">
                                <td class="col_atradas1">
                                    <a class="link_atrasadas" href="{% url 'taskview' tasks.id %}">{{tasks.titulo}}</a>
                                </td>
                                <td class="col_atradas2">
                                    <a class="link_atrasadas" href="{% url 'taskview' tasks.id %}">{{tasks.need_init_at}}</a>
                                </td>
                                <td class="col_atradas3">
                                    <a class="link_atrasadas" href="{% url 'taskview' tasks.id %}">{{tasks.etapas}}</a>
                                </td>
                                {% if user.is_superuser %}
                                    <td>
                                        <a class="col_atrasadas2 link_atrasadas" href="{% url 'taskview' tasks.id %}">{{tasks.nome_pessoa|capfirst}}</a>
                                    </td>
                                {% endif %}
                            </tr>
                    {% endfor %}
                
                {% for tasks in TasksDoDia %}
                    <tr style="font-size: 20px; height: 50px; padding-top: 10px; border-bottom: 1px dashed #CCC;">
                        <td style="width: 360px">
                            <a style="padding-right: 30%; color:green;"href="{% url 'taskview' tasks.id %}">{{tasks.titulo}}</a>
                        </td>
                        <td style="width: 420px;">
                            <a style="margin-right: 17%; color:green;"href="{% url 'taskview' tasks.id %}">{{tasks.need_init_at}}</a>
                        </td>
                        <td style="width: 30%;">
                            <a style="color:green;"href="{% url 'taskview' tasks.id %}">{{tasks.etapas}}</a>
                        </td>
                        {% if user.is_superuser %}
                            <td style="width: 10%;">
                                <a style="color:green;" href="{% url 'taskview' tasks.id %}">{{tasks.nome_pessoa|capfirst}}</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                    
                {% for tasks in Tasks_futuras %}
                    <tr style="font-size: 20px; height: 50px; padding-top: 10px; border-bottom: 1px dashed #CCC;" >
                        <td style="width: 360px">
                            <a style=color:blue; href="{% url 'taskview' tasks.id %}">{{tasks.titulo}}</a>
                        </td>
                        <td style="width: 420px;">
                            <a style=color:blue; href="{% url 'taskview' tasks.id %}">{{tasks.need_init_at}}</a>
                        </td>
                        <td style="width: 30%;">
                            <a style="color:blue; "href="{% url 'taskview' tasks.id %}">{{tasks.etapas}}</a>
                        </td>
                        {% if user.is_superuser %}
                            <td style="width: 10%;">
                                <a style="color:blue;" href="{% url 'taskview' tasks.id %}">{{tasks.nome_pessoa|capfirst}}</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                {% for tasks in Tasks_finalizadas %}
                    <tr style="font-size: 20px; height: 50px;  border-bottom: 1px dashed #CCC;">
                        <td style="width: 360px">
                            <a style="padding-right: 30%; color:gray;"href="{% url 'taskview' tasks.id %}">{{tasks.titulo}}</a>
                        </td>
                        <td style="width: 420px;">
                            <a style="margin-right: 17%; color:gray;"href="{% url 'taskview' tasks.id %}">{{tasks.need_init_at}}</a>
                        </td>
                        <td style="width: 30%;">
                            <a style="color:gray;"href="{% url 'taskview' tasks.id %}">{{tasks.etapas}}</a>
                        </td>
                        {% if user.is_superuser %}
                            <td style="width: 10%;">
                                <a style="color:grey;" href="{% url 'taskview' tasks.id %}">{{tasks.nome_pessoa|capfirst}}</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                {% for tasks in Tasks_justificadas %}
                    <tr style="font-size: 20px; height: 50px;  border-bottom: 1px dashed #CCC;">
                        <td style="width: 360px">
                            <a style="padding-right: 30%; color:violet;" href="{% url 'taskview' tasks.id %}">{{tasks.titulo}}</a>
                        </td>
                        <td style="width: 420px;">
                            <a style="margin-right: 17%; color:violet;" href="{% url 'taskview' tasks.id %}">{{tasks.need_init_at}}</a>
                        </td>
                        <td style="width: 30%;">
                            <a style="color:violet;" href="{% url 'taskview' tasks.id %}">{{tasks.etapas}}</a>
                        </td>
                        {% if user.is_superuser %}
                            <td style="width: 10%;">
                                <a style="color:violet;" href="{% url 'taskview' tasks.id %}">{{tasks.nome_pessoa|capfirst}}</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            
            </table>
            </ul>
        
        </div>
    </div>
</body>
{% endblock %}