{% extends 'base.html'%}
{% load static %}
{% block title %} Lista de Tarefas {% endblock%}    
{% block content%}

<center>
<h2>Dashboard</h2> 
<a  href="{% url 'logout' %}" >Logout</a>

        <h2 >Tarefas</h2>
        <ul class="task-list">
            <table>
                {% for tasks in Tasks_atrasadas %}
                        <tr style="font-size: 20px; height: 50px;  border-bottom: 3px dashed #CCC;">
                            <td style="width: 360px">
                                <a style="padding-right: 30%; color:red;" href="task/{{tasks.id}}">{{tasks.titulo}}</a>
                            </td>
                            <td style="width: 420px;">
                                <a style="margin-right: 17%; color:red;" href="task/{{tasks.id}}">{{tasks.need_init_at}}</a>
                            </td>
                            <td style="width: 30%;">
                                <a style="color:red;" href="task/{{tasks.id}}">{{tasks.etapas}}</a>
                            </td>
                        </tr>
                {% endfor %}
            
            {% for tasks in TasksDoDia %}
                <tr style="font-size: 20px; height: 50px; padding-top: 10px; border-bottom: 3px dashed #CCC;">
                    <td style="width: 360px">
                        <a style="padding-right: 30%; color:green;" href="task/{{tasks.id}}">{{tasks.titulo}}</a>
                    </td>
                    <td style="width: 420px;">
                        <a style="margin-right: 17%; color:green;" href="task/{{tasks.id}}">{{tasks.need_init_at}}</a>
                    </td>
                    <td style="width: 30%;">
                        <a style="color:green;" href="task/{{tasks.id}}">{{tasks.etapas}}</a>
                    </td>
                </tr>
            {% endfor %}
                
            {% for tasks in Tasks_futuras %}
                    <tr style="font-size: 20px; height: 50px; padding-top: 10px; border-bottom: 3px dashed #CCC;" >
                        <td style="width: 360px">
                            <a style=color:blue; href="task/{{tasks.id}}">{{tasks.titulo}}</a>
                        </td>
                        <td style="width: 420px;">
                            <a style=color:blue; href="task/{{tasks.id}}">{{tasks.need_init_at}}</a>
                        </td>
                        <td style="width: 30%;">
                            <a style="color:blue;" href="task/{{tasks.id}}">{{tasks.etapas}}</a>
                        </td>
                    </tr>
            {% endfor %}
          
        </table>
        </ul>
       
    </div>
</div>
{% endblock %}