{% extends 'base.html'%}
{% load static %}
{% block title %} Lista de Tarefas {% endblock%}    
{% block content%}

<h1>Tarefa</h1>
<h3>{{task.titulo}}</h3>
<h3>{{task.descricao}}</h3>
<h3>{{task.status}}</h3>

<tr style="font-size: 20px; height: 50px; padding-top: 10px; border-bottom: 3px dashed #CCC;" >
 
        <div>
            {% if task.etapas == "não iniciada" %}
                <form action="{% url 'initFinishTask' %}" method="POST">
                    {% csrf_token %}
                    <input value={{task.id}} name="task_id">
                    <button class="btn btn-success" type="submit">INICIAR</button>
                </form>
                <form action="{% url 'justifyTask' %}" method="POST"> 
                    {% csrf_token %}
                    <input value={{task.id}} name="task_id">
                    <button class="btn btn-Secondary" type="submit">JUSTIFICAR</button> 
                </form>
              
            {% else %}
                {% if task.etapas == "iniciada" %}
                    <form>
                        {% csrf_token %}
                        <input value={{task.id}} name="task_id">
                        <button class="btn btn-primary" type="submit">FINALIZAR</button>
                    </form>
                    <form>
                        {% csrf_token %}
                        <input value={{task.id}} name="task_id">
                        <button class="btn btn-warning" type="submit">ADIAR</button>  
                    </form>
                    <form action="{% url 'justifyTask' %}" method="POST"> 
                        {% csrf_token %}
                        <input value={{task.id}} name="task_id">
                        <button class="btn btn-Secondary" type="submit">JUSTIFICAR</button> 
                    </form>
                    <div>
                        <form  action="" method="POST">
                            {% csrf_token %}
                            <input value={{task.id}} name="task_id">
                            <div>
                                <textarea>{{task.obs}}</textarea>
                            </div>
                            <div>
                                <button class="btn btn-Secondary" type="submit">SALVAR</button> 
                            </div>
                        </form>
                    </div>
                {% else %}
                    {% if task.etapas == "finalizada" %}
                        <div>Tarefa finalizada em {{task.finished_at}}</div>
                        <div>{{task.obs}}</div>
                        {% else %}
                            {% if task.etapas == "justificada" %}
                                <form action="{% url 'initFinishTask' %}" method="POST">
                                    {% csrf_token %}
                                    <input value={{task.id}} name="task_id">
                                    <button class="btn btn-success" type="submit">REINICIAR</button>  
                                </form>     
                                <form>
                                    {% csrf_token %}
                                    <button class="btn btn-warning" type="submit">ADIAR</button>  
                                    <input value={{task.id}} name="task_id">
                                </form>     
                                <div>
                                    <form  action="" method="POST">
                                        {% csrf_token %}
                                        <input value={{task.id}} name="task_id">
                                        <div>
                                            <textarea>{{task.obs}}</textarea>
                                        </div>
                                        <div>
                                            <button class="btn btn-Secondary" type="submit">SALVAR</button> 
                                        </div>
                                    </form>
                                </div>
                            {% else %}
                                {% if task.etapas == 'adiada' %}
                                    <form action="{% url 'initFinishTask' %}" method="POST">
                                        {% csrf_token %}
                                        <input value={{task.id}} name="task_id">
                                        <button class="btn btn-success" type="submit">REINICIAR</button>
                                    </form>
                                    <form action="{% url 'justifyTask' %}" method="POST"> 
                                        {% csrf_token %}
                                        <input value={{task.id}} name="task_id">
                                        <button class="btn btn-Secondary" type="submit">JUSTIFICAR</button> 
                                    </form>
                                    <div>
                                        <form  action="" method="POST">
                                            {% csrf_token %}
                                            <input value={{task.id}} name="task_id">
                                            <div>
                                                <textarea>{{task.obs}}</textarea>
                                            </div>
                                            <div>
                                                <button class="btn btn-Secondary" type="submit">SALVAR</button> 
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}       
{% endblock%}